# Basic output files (generated)
*.txt
*.csv

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python C extensions
*.so

# Python distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
/geometries/spe11a_GRID_5_1_5.GRDECL
/geometries/spe11a_GRID_280_1_120.GRDECL
/geometries/spe11a_MULTNUM_5_1_5.GRDECL
/geometries/spe11a_MULTNUM_280_1_120.GRDECL
/geometries/spe11a_structured.msh
/geometries/spe11b_GRID_100_1_100.GRDECL
/geometries/spe11b_GRID_840_1_120.GRDECL
/geometries/spe11b_GRID_1000_1_1000.GRDECL
/geometries/spe11b_MULTNUM_100_1_100.GRDECL
/geometries/spe11b_MULTNUM_840_1_120.GRDECL
/geometries/spe11b_MULTNUM_1000_1_1000.GRDECL
